http://docs.prylabs.network
root * /usr/share/caddy/html
file_server
try_files {path}.html {path}
rewrite /docs/ /docs/getting-started
rewrite /docs /docs/getting-started
header Access-Control-Allow-Origin *
header Access-Control-Request-Method GET,OPTIONS