https://offchainlabs.com
root * /usr/share/caddy/html
file_server
uri strip_suffix .html
rewrite /prysm/docs/ /prysm/docs/getting-started
rewrite /prysm/docs /prysm/docs/getting-started
header Access-Control-Allow-Origin *
header Access-Control-Request-Method GET,OPTIONS
